node -v
node -v
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9fsZ5DwP5aa7b6T66WbZRyGqznOIgPOo</string>
	<key>GCM_SENDER_ID</key>
	<string>448806411994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chartapp</string>
	<key>PROJECT_ID</key>
	<string>chartingapp-168ed</string>
	<key>STORAGE_BUCKET</key>
	<string>chartingapp-168ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448806411994:ios:9dfc41eb035af51beb8fe3</string>
	<key>DATABASE_URL</key>
	<string>https://chartingapp-168ed-default-rtdb.firebaseio.com</string>
</dict>
</plist>